# Bonus: Temperature Analysis I

In [30]:
import pandas as pd
from datetime import datetime as dt

In [31]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [32]:
# Convert the date column format from string to datetime
df.date= pd.to_datetime(df.date)

In [33]:
# Set the date column as the DataFrame index
df.set_index('date', inplace=True)

In [39]:
df[df.index.month == 5]

                station  prcp  tobs
date
2010-05-01  USC00519397  0.00    77
2010-05-02  USC00519397  0.03    73
2010-05-03  USC00519397  0.20    74
2010-05-04  USC00519397  0.08    76
2010-05-05  USC00519397  0.01    76
...                 ...   ...   ...
2017-05-25  USC00516128  0.88    75
2017-05-26  USC00516128  0.00    72
2017-05-27  USC00516128  0.50    72
2017-05-28  USC00516128  0.00    73
2017-05-30  USC00516128   NaN    72

[1733 rows x 3 columns]

### Compare June and December data across all years

In [35]:
from scipy import stats

In [38]:
# Filter data for desired months
june_df=  df[df.index.month == 6].copy()
dec_df=  df[df.index.month == 12]
dec_df

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64
...                 ...   ...   ...
2016-12-27  USC00516128  0.14    71
2016-12-28  USC00516128  0.14    71
2016-12-29  USC00516128  1.03    69
2016-12-30  USC00516128  2.37    65
2016-12-31  USC00516128  0.90    65

[1517 rows x 3 columns]

In [49]:
# Identify the average temperature for June
print(f"Average temp for June is {round(june_df.describe()['tobs']['mean'],2)}")
june_df.describe()

Average temp for June is 74.94

              prcp         tobs
count  1574.000000  1700.000000
mean      0.136360    74.944118
std       0.335731     3.257417
min       0.000000    64.000000
25%       0.000000    73.000000
50%       0.020000    75.000000
75%       0.120000    77.000000
max       4.430000    85.000000

In [50]:
# Identify the average temperature for December
print(f"Average temp for Dec is {round(dec_df.describe()['tobs']['mean'],2)}")

Average temp for Dec is 71.04

In [61]:
# Temperature data stored in the 'tobs' column
june_df['tobs']
dec_df['tobs']

date
2010-12-01    76
2010-12-03    74
2010-12-04    74
2010-12-06    64
2010-12-07    64
              ..
2016-12-27    71
2016-12-28    71
2016-12-29    69
2016-12-30    65
2016-12-31    65
Name: tobs, Length: 1517, dtype: int64

In [59]:
# Run paired t-test
stats.ttest_ind(june_df['tobs'], dec_df['tobs'])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

The very low (e-191) p value shoes these differences are not statistically significant. Feel free to vacation in June or December for great temps in Hawaii!